@import "tailwindcss";

:root {
  --background: #23272D;
  --foreground: #F8FAFC;
}

body {
  background-color: #23272D;
  color: #F8FAFC;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}